body {
    background-color: rgb(22, 22, 22);
    color:rgb(204, 204, 204);

    width:80%;
    margin-left:auto;
    margin-right:auto;

    font-family: Arial, sans-serif;
}

.g-blue{color: #3affc4}
.l-blue {color: #3A86FF;}
.green {color:#8ac926;}
.pink {color: #FF006E;}
.orange {color: #FB5607;}
.yellow {color: #ffb30b;}
.purple {color: #8338ec;}


a {color: #085575;}

.scrl-sect {

    /*min-height:80vh;*/

    padding-left:15%;
    padding-right:20%;
    padding-top:10%;

    overflow-x: hidden;
}

#intro{display: flex;}
.name_photo {
    display:inline-block;
    vertical-align: middle;    
}
#name_photo {
}

#headshot {
    object-fit:cover;
    width:130px;
    height:130px;
    border-radius: 50%;
    margin-right:5%;
}


#contact-img {
    padding-top:5%;
    padding-left: 10%;
}

.logo {
    width: 32px;
    height: 32px;

    margin-bottom: 115%;

}

/*hover off*/
.logo{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.logo:hover {
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}


#big-name{
    font-size:2.5em;
}
h1 {
    font-size: 2.5em;
    font-weight: normal;
}

#summary {
    padding-top: 2%;
    color: #ffe066;
    font-size: 1.1em;
}



.title{font-weight: 500;}
.title.sect {font-size: 2.5em;}
.title.proj {
    font-size:2.5em; 
    padding-top: 15%;
}

#edu-info {font-size:1.5em;}


#uofc{font-family: Calibri; font-weight: bold; font-size:1.5em;}
.bold{font-weight:bold; color:white;}

#more-edu-butt{font-size: 0.7em;width: min-content;}
#more-edu-butt:hover{color:red;}


.course {
    color:#8ac926;
}



.project-title{font-family:inherit;}


#code {
    font-size:4em;
    width: max-content;
    /*border: 1px solid red;*/

    color: transparent;
    background: url(/photos/matrix.gif);
    background-clip: text;
    -webkit-background-clip: text;
}

#code:hover{ color: #425d17;}


#block-chain-trinket{
    height: 700px;
    width: 135%;
    margin-top: 5%;
    margin-left: -10%;
}

#DBcont{
    display:flex;
    width:90vw;
    margin-left: -15%;
}
#DBgif{
    object-fit: contain;
    max-width: 45%;
    height: auto;
}
#query{
    font-size:0.7em;
    max-width: min-content;
    height: auto;
    line-height: 1.3;
}

.proj-desc{
    
    font-size: 1.3em;
    line-height: 1.5em;
}

#this-site{

    font-size: 0.7em;
    width: 80%;
    margin-top: 5%;

    border-radius: 5px;
    /*border: 2px ridge #f25f5c;*/

}

#this-site-text{
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 10%;
}

