body {
    background-color: rgb(32, 32, 32);
    color:rgb(204, 204, 204);

    width:80%;
    margin-left:auto;
    margin-right:auto;

    font-family: Arial, sans-serif;
}



#accordion{
    margin-bottom: 15%;
}

.g-blue{color: #3affc4}
.l-blue {color: #3A86FF;}
.green {color:#8ac926;}
.pink {color: #FF006E;}
.orange {color: #FB5607;}
.yellow {color: #ffb30b;}
.purple {color: #8338ec;}


a {color: #085575;}

#proj_title {
    padding-left:17%;
    padding-right:20%;
    padding-top:10%;
}

.scrl-sect {

    /*min-height:80vh;*/

    padding-left:17%;
    padding-right:20%;
    padding-top:10%;

    overflow-x: hidden;
}

#intro{display: flex;}
.name_photo {
    display:inline-block;
    vertical-align: middle;    
}
#headshot {
    object-fit:cover;
    width:130px;
    height:130px;
    border-radius: 50%;
    margin-right:5%;
}

.colour {
    cursor: pointer;
}

#contact-img {
    padding-top:5%;
    padding-left: 10%;
}

.logo {
    width: 32px;
    height: 32px;

    margin-bottom: 115%;

}

/*hover off*/
.logo{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.logo:hover {
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}


#big-name{
    font-size:2.5em;
}
h1 {
    font-size: 2.5em;
    font-weight: normal;
}

#summary {
    padding-top: 2%;
    color: #ffe066;
    font-size: 1.1em;
}



.title{font-weight: 500;}
.title.sect {font-size: 2.5em;}
h1 {
    font-size: 3em;
}
h2 {
    font-size:2.5em; 
    padding-top: 15%;
}


.project-title{font-family:inherit;}

#DBgif{
    object-fit: contain;
    max-width: 100%;
    height: auto;
}
#query{
    font-size:0.7em;
    max-width: 100%;
    height: auto;
    line-height: 1.3;
}

.proj-desc{
    font-size: 1.3em;
    line-height: 1.5em;
}


