html {

    overflow-y: scroll;
}

body {
    
    margin: 0;
    /*background: linear-gradient(#50514F 50%,#F25F5C);*/

    /*scroll-snap-points-y: repeat(50vh);
    scroll-snap-type: y proximity; remove a lot more if not keeping snap*/
    /*overflow-y: scroll;
    height: 100vh;*/

    transition: background-color 0.5s ease;
}


.scrl-sect {

    height:100vh;

    padding-left:25%;
    padding-top:5%;

    scroll-snap-align: start;
    height:100vh;
}

.color-grey {background-color: #50514f;}
.color-pink {background-color: #f25f5c;}
.color-yellow {background-color: #ffe066;}
.color-turquoise {background-color: #70c1b3;}

#name {
    color: black;
    font-size: 6em;
}

#summary {
    font-family: Georgia;
    color: #d1b132;
    font-size: 2em;
    width: max-content;
}

#summary:hover{color:#ffe066;}

#contact-links{


    /*border: 1px solid red;*/
    width: min-content;
    font-family: Trebuchet MS;
    color: rgb(175, 175, 175);
    font-size: 1.5em;
    text-decoration: none;
}

.contact {
    margin-top:50%;
    all: unset;}

.contact:hover{color:white;}
.title.sect {font-size: 3em;font-family: 'Trebuchet MS';}

#edu-info {font-size:1.7em; color: #333333;}

#uofc{font-family: Calibri; font-weight: bold; font-size:1.5em;}
.bold{font-weight:bold;}

#more-edu-butt{
    font-size: 0.6em;
}


#block-chain-trinket{margin-left:-15%;}
