body {margin: 0; height: 100%}

#bg {
    background: black;
    background-size: cover;
    
    position: fixed; 
    top: 0; 
    left: 0; 

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

#title {color: blueviolet; text-align: center;}

#googleSearch {
    width: 40%;
    padding: 5%;
    position: relative;
    left: 35%
}

#clickableLinks {

    text-align: center;
}


.linkPic { 
    display: inline-block;
    margin: 25px;
}
